global-exclude *.pyc
recursive-include gisst/static *.js *.js.mem *.html *.conf *.ini *.data *.map *.css
recursive-include gisst/templates *
exclude gisst/static/js/cite_game/.git
exclude gisst/static/js/cite_game/.gitignore
