/* Citation Search Page */
#search_text_box {
    width: 75%;
    margin-left: 12.5%;
    height: 40px;
    font-size: larger;
    font-family: serif;
}

#search_submit_button {
    display: block;
    margin-top: 10px;
    margin-left: 37.5%;
}

#search_select_radio_group {
    margin-top: 10px;
    margin-left: 25%;
}

#search_result_range_text {
}

#emulatorHolder {
    height: 240px;
    width: 256px
}

/* Play Page */
#emulator {
    height: 400px;
    width: 640px;
}

/* Citation Listing Page */
.cite-table {
    border: solid gray 1px;
    table-layout: fixed;
}

.cite-table-header {
    color: white;
    background-color: gray;
    overflow: hidden;
}

.cite-table-header-row {

}

.cite-table-row {

}

.cite-table-data {

}

.header-title {
    color: white;
    background-color: gray;
}
.header-uuid {
    color: white;
    background-color: gray;
    width: 300px;
}

.header-delete {
    color: white;
    background-color: gray;
    width: 25px;
}

.header-select{
    color: white;
    background-color: gray;
    width: 25px;
}

.header-description{
    color: white;
    background-color: gray;
    width: 300px;
}

.table-uuid {
    overflow: hidden;
    width: 300px;
}

table{
    border: 1px solid black;
    table-layout: fixed;
    width: 100%;
}

th {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

td {
    text-align: left;
    padding: 3px;
}

th, td {
    overflow: hidden;
}
