<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/citetool_editor.css">
    <title>Citations</title>
</head>
<body>
<h2>Game Citations</h2>
<button id="compareButton" onclick="onCompareClick()">Compare!</button>
<table class="cite-table">
    <tr class="cite-table-header-row">
        <th class="header-select"></th>
        {% for header in game_headers if header in ('title', 'platform', 'developer', 'publisher', 'copyright_year') %}
            {% if header == 'title'%}
            <th class="header-title">{{header.capitalize()}}</th>
            {% else %}
            <th class="cite-table-header">{{header.capitalize()}}</th>
            {% endif %}
        {% endfor %}
        <th class="header-delete">D?</th>
    </tr>
    {% for game in all_game_cites %}
        <tr class="cite-table-row">
            <td><input id="{{ game.elements['uuid'] }}_checkbox" type="checkbox" onclick="onGameClick('{{game.elements['uuid']}}')"></td>
            {% for k, v in game.elements.items() if k in ('title', 'platform', 'developer', 'publisher', 'copyright_year') %}
                {% if k == 'title'%}
                    <td class="cite-table-data"><a href="/citation/{{game.elements['uuid']}}">{{v}}</a></td>
                {% else %}
                    <td class="cite-table-data">{{v}}</td>
                {% endif %}
            {% endfor %}
            <td class="cite-table-data"><a href="/delete/{{game.elements['uuid']}}">[X]</a></td>
        </tr>
    {% endfor %}
</table>
<h2>Performance Citations</h2>
<table class="cite-table">
    <tr class="cite-table-header-row">
        {% for header in perf_headers if header in ('title', 'description', 'game_uuid', 'uuid')%}
            {% if header == 'uuid' or header == 'game_uuid'%}
            <th class="header-uuid">{{header.upper()}}</th>
            {% elif header == 'title'%}
            <th class="header-title">{{header.capitalize()}}</th>
            {% elif header == 'description'%}
            <th class="header-description">{{header.capitalize()}}</th>
            {% else %}
            <th class="cite-table-header">{{header.capitalize()}}</th>
            {% endif %}
        {% endfor %}
        <th class="header-delete">D?</th>
    </tr>
    {% for perf in all_perf_cites %}
    <tr class="cite-table-row">
        {% for k, v in perf.elements.items() if k in ('title', 'description', 'game_uuid', 'uuid') %}
            {% if k == 'uuid' or k == 'game_uuid' %}
            <td class="cite-table-data table-uuid"><a href="/citation/{{v}}">{{v}}</a></td>
            {% else %}
            <td class="cite-table-data">{{v}}</td>
            {% endif %}
        {% endfor %}
        <td class="cite-table-data"><a href="/delete/{{perf.elements['uuid']}}">[X]</a></td>
        </tr>
    {% endfor %}
</table>
</body>
<script type="application/javascript">
    var selectedGames = [];
    function onCompareClick(){
        redirectURL = "/compare?uuids=";
        for(var i=0; i < selectedGames.length; i++){
            redirectURL += selectedGames[i] + ",";
        }
        window.location = redirectURL.slice(0, -1); //remove trailing comma
    }

    function onGameClick(id){
        var index = selectedGames.indexOf(id);
        if(index !== -1){
            selectedGames.splice(index, 1);
        }else{
            selectedGames.push(id)
        }
    }
</script>
</html>