<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Playing {{ cite_ref['title']}}</title>
    <link href="/static/css/citetool_editor.css" rel="stylesheet" type="text/css">
    <script src="/static/js/jquery-2.1.4.min.js"></script>
    <script src="/static/js/cite-game/recorder/recorder-worker.js"></script>
    <script src="/static/js/cite-game/citestate.js"></script>
    <script src="/static/js/stringview.js"></script>
    <script src="/static/js/keydrown.js"></script>
    <script src="/static/js/sha1.js"></script>
    <script src="/static/js/lzma.js"></script>
    <script src="/static/js/async.js"></script>
    <script src="/static/js/play.js"></script>
</head>
<body data-game-uuid="{{ cite_ref['uuid'] }}" data-state-uuid="{{ init_state['uuid'] }}">
<a href="/citations">Citations</a>
</body>
</html>