<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Playing {{ cite_ref['title']}}</title>
    <link href="/static/css/citetool_editor.css" rel="stylesheet" type="text/css">
    <script src="/static/js/jquery-2.1.4.min.js"></script>
    <script src="/static/js/citestate.js"></script>
    <script src="/static/js/stringview.js"></script>
    <script src="/static/js/keydrown.js"></script>
    <script src="/static/js/sha1.js"></script>
    <script src="/static/js/play.js"></script>
</head>
<body data-game-uuid="{{ cite_ref['uuid'] }}" data-init-state="{{ init_state['uuid'] }}">
<div id="emulator"></div>
<div id="emulatorControls">
    <button id="startEmulationButton">Start</button>
    <button id="saveStateButton">Save State</button>
    <button id="loadLastStateButton">Load Most Recent State</button>
    <button id="resetButton">Reset Emulation</button>
    <button id="toggleAudioButton">Audio Off</button>
</div>
<div id="stateDescriptionContainer">
    Current State Description: <input id="stateDescriptionTextBox" type="text"/>
</div>
<div id="performanceContainer"></div>
<div id="mostRecentStateContainer"></div>
<div id="saveStateListingContainer"></div>
<div id="fileListingContainer"></div>
</body>
</html>