<!DOCTYPE html>
<html lang="en" style="width: 100%; height: 100%">
<head>
    <meta charset="UTF-8">
    <title>React Tests</title>
</head>
<body style="width: 100%; height: 100%; padding: 0; margin: 0;">
<div style="width: 100%; height: 100%;" id="uiBase"></div>
</body>
<script type="application/javascript" src="/static/js/react.js"></script>
<script type="application/javascript" src="/static/js/react-dom.js"></script>
<script type="application/javascript" src="/static/js/react-tabs.js"></script>
<script type="application/javascript" src="/static/js/ui-modules.js"></script>
</html>